/* product-style.css */

/* General Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f8f9fa; /* Lightened background for better contrast */
    color: #212529; /* Darker text for better readability */
    line-height: 1.6; /* Improved line-height for readability */
}

/* Header */
header {
    background-color: #000; /* Black header for a bold look */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Navigation */
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centered navigation */
}

.nav-list li {
    margin-left: 1.5rem;
}

.nav-list a {
    color: #fff; 
    text-decoration: none;
    font-weight: 500;  
    transition: color 0.3s ease; /* Smooth transition on hover */
}

.nav-list a:hover {
    color: #ff2020;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.product-carousel {
    display: flex;
    overflow-x: auto;  /* Allow horizontal scrolling if needed */
}

.product-card-container {
    display: flex;
    gap: 1rem;
}

.product-card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    min-width: 250px; /* Ensure minimum width for each card */
    flex: 0 0 auto;  /* Allow cards to shrink and grow to fit content */
}

.product-image img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 1rem;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.product-details h1 {
    font-size: 1.3rem;
    font-weight: 600; /* Bolder font weight for the title */
    margin-bottom: 0.5rem;
    color: #333;
}

.product-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #e74c3c; /* Red color for the price */
}

/* Add to Cart Button */
.add-to-cart {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #444; /* Darker shade on hover */
}

/* Checkout Button */
#checkout-button {
    background-color: #000; 
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 500px; /* Limit the maximum width */
}
#checkout-button:hover {
    background-color: #444;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
}
